name: Schedule Test

on:
  workflow_dispatch:
  schedule:
  - cron: '*/5 * * * *'
  
jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Log Time
        run: |
          current_date_time=$(date)
          echo "Current date and time: $current_date_time"